Kaggle データセットの分析  
https://www.kaggle.com/neuromusic/avocado-prices

アメリカのハスアボカドというアボカドの品種に関する小売データセット。  
各都市の一週間ごとデータが記録されている。

- 日付 2015-01-04 ～ 2018-03-25
- アボカド1個あたり平均価格
- 消費量？
- PLU codes 生鮮食品を販売管理するためのコード。4046はアボカドサイズ（小）、4225は中、4770は大を意味する。
- TotalBags small+large+xlarge bags
- type 従来型か有機栽培か
- 都市

分析案  
- 層別（regeonごと）の平均価格の平均、総量の平均をみる
- 系列の周期性があるか確認
- 周期性あり→層別にモデルを作るのではなく、層の情報を生かしたモデルを調査
- 周期性なし→再検討

In [2]:
import pandas as pd

In [3]:
# ファイル読み込み
in_file = '../data/avocado.csv'
df = pd.read_csv(in_file, header=0, index_col=0)
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [18]:
df.shape

(18249, 13)

In [17]:
df.describe()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [23]:
set(df.region)

{'Albany',
 'Atlanta',
 'BaltimoreWashington',
 'Boise',
 'Boston',
 'BuffaloRochester',
 'California',
 'Charlotte',
 'Chicago',
 'CincinnatiDayton',
 'Columbus',
 'DallasFtWorth',
 'Denver',
 'Detroit',
 'GrandRapids',
 'GreatLakes',
 'HarrisburgScranton',
 'HartfordSpringfield',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'LasVegas',
 'LosAngeles',
 'Louisville',
 'MiamiFtLauderdale',
 'Midsouth',
 'Nashville',
 'NewOrleansMobile',
 'NewYork',
 'Northeast',
 'NorthernNewEngland',
 'Orlando',
 'Philadelphia',
 'PhoenixTucson',
 'Pittsburgh',
 'Plains',
 'Portland',
 'RaleighGreensboro',
 'RichmondNorfolk',
 'Roanoke',
 'Sacramento',
 'SanDiego',
 'SanFrancisco',
 'Seattle',
 'SouthCarolina',
 'SouthCentral',
 'Southeast',
 'Spokane',
 'StLouis',
 'Syracuse',
 'Tampa',
 'TotalUS',
 'West',
 'WestTexNewMexico'}

In [27]:
df_groupby = df.groupby("region",as_index=False)
df_groupby.mean()

,region,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
0,Albany,1.561036,4.753787e+04,1.824082e+03,3.762121e+04,162.832337,7.929747e+03,6.647765e+03,1.153496e+03,128.488639,2016.147929
1,Atlanta,1.337959,2.621453e+05,1.461169e+05,3.121851e+04,311.385769,8.449856e+04,5.160573e+04,3.207004e+04,822.786036,2016.147929
2,BaltimoreWashington,1.534231,3.985619e+05,3.565622e+04,2.459829e+05,12466.730976,1.044561e+05,1.009397e+05,2.903985e+03,612.382722,2016.147929
3,Boise,1.348136,4.264257e+04,2.001951e+04,3.461682e+03,3186.787840,1.597459e+04,1.384004e+04,2.103634e+03,30.915207,2016.147929
4,Boston,1.530888,2.877929e+05,4.994610e+03,2.142199e+05,4982.294970,6.359609e+04,5.890659e+04,4.438365e+03,251.124231,2016.147929
5,BuffaloRochester,1.516834,6.793630e+04,1.776671e+03,3.166395e+04,144.335976,3.435134e+04,3.037998e+04,3.729050e+03,242.313432,2016.147929
6,California,1.395325,3.044324e+06,1.180376e+06,1.039915e+06,94204.276746,7.298290e+05,6.778038e+05,3.642585e+04,15599.342929,2016.147929
7,Charlotte,1.606036,1.051939e+05,2.237814e+04,3.662802e+04,11578.467574,3.460930e+04,3.149069e+04,2.912684e+03,205.927781,2016.147929
8,Chicago,1.556775,3.955690e+05,3.208308e+04,2.545190e+05,59069.204290,4.989763e+04,4.377116e+04,5.005547e+03,1120.925178,2016.147929
9,CincinnatiDayton,1.209201,1.317219e+05,5.411698e+03,6.105890e+04,3421.026598,6.182816e+04,1.675117e+04,4.429643e+04,780.564290,2016.147929
10,Columbus,1.252781,8.873776e+04,3.723706e+04,1.691030e+04,4955.845030,2.963428e+04,2.387808e+04,5.103195e+03,653.004497,2016.147929
11,DallasFtWorth,1.085592,6.166251e+05,3.270901e+05,1.395577e+05,12492.822811,1.374845e+05,1.207744e+05,1.543113e+04,1278.973609,2016.147929
12,Denver,1.218580,4.109542e+05,7.819187e+04,1.503270e+05,8006.405296,1.744290e+05,5.551362e+04,1.187601e+05,155.270059,2016.147929
13,Detroit,1.276095,1.876403e+05,5.557145e+04,3.479935e+04,25487.582544,7.177534e+04,5.899134e+04,7.905232e+03,4878.770533,2016.147929
14,GrandRapids,1.505000,8.938383e+04,1.459368e+03,5.101043e+04,9786.499467,2.712750e+04,2.228839e+04,2.357398e+03,2481.702278,2016.147929
15,GreatLakes,1.338550,1.744505e+06,2.772693e+05,7.907033e+05,148153.761095,5.283303e+05,3.647559e+05,1.446617e+05,18912.792781,2016.147929
16,HarrisburgScranton,1.513284,1.236948e+05,2.223527e+04,6.121225e+04,219.942692,4.002738e+04,3.778956e+04,1.780372e+03,457.450178,2016.147929
17,HartfordSpringfield,1.818639,1.499128e+05,3.904301e+03,1.119752e+05,503.708994,3.352962e+04,3.188923e+04,1.410794e+03,229.590888,2016.147929
18,Houston,1.047929,6.010884e+05,2.951861e+05,1.411965e+05,16140.446805,1.485653e+05,9.622831e+04,5.137208e+04,964.889793,2016.147929
19,Indianapolis,1.313994,8.953666e+04,7.176066e+03,4.279241e+04,4115.862071,3.544618e+04,1.955936e+04,1.504810e+04,838.727692,2016.147929
20,Jacksonville,1.510947,8.517753e+04,4.577429e+04,1.043414e+04,217.236834,2.875186e+04,1.283961e+04,1.560060e+04,311.644290,2016.147929
21,LasVegas,1.380917,1.608784e+05,5.854181e+04,4.545688e+04,3468.510976,5.341122e+04,2.656102e+04,2.680271e+04,47.497988,2016.147929
22,LosAngeles,1.216006,1.502653e+06,6.623650e+05,3.021715e+05,40291.995118,4.978240e+05,4.607281e+05,2.503889e+04,12057.041272,2016.147929
23,Louisville,1.286686,4.762427e+04,2.099263e+03,2.488955e+04,1004.427959,1.963103e+04,8.326157e+03,1.098558e+04,319.298757,2016.147929
24,MiamiFtLauderdale,1.428491,2.889740e+05,1.749707e+05,4.411622e+04,311.835680,6.957527e+04,3.319519e+04,3.547577e+04,904.313580,2016.147929
25,Midsouth,1.404763,1.503992e+06,3.267179e+05,6.579085e+05,56307.566065,4.630581e+05,3.975279e+05,6.145227e+04,4077.861331,2016.147929
26,Nashville,1.212101,1.053612e+05,5.381327e+04,1.127370e+04,1909.847426,3.836440e+04,2.971239e+04,8.322173e+03,329.840710,2016.147929
27,NewOrleansMobile,1.304793,1.351927e+05,7.930396e+04,1.305686e+04,616.088373,4.221580e+04,3.508744e+04,5.611536e+03,1516.830473,2016.147929
28,NewYork,1.727574,7.122311e+05,2.260156e+04,4.832954e+05,5168.053580,2.011661e+05,1.727860e+05,2.731656e+04,1063.543432,2016.147929
29,Northeast,1.601923,2.110299e+06,1.035243e+05,1.403801e+06,20167.587692,5.828059e+05,5.136774e+05,6.525460e+04,3873.868521,2016.147929
30,NorthernNewEngland,1.477396,2.116358e+05,7.997724e+03,1.586073e+05,3891.676598,4.113913e+04,3.336382e+04,7.447946e+03,327.367692,2016.147929
31,Orlando,1.506213,1.735524e+05,9.878966e+04,2.473253e+04,143.676124,4.988651e+04,2.641384e+04,2.275300e+04,719.665769,2016.147929
32,Philadelphia,1.632130,2.125408e+05,1.365444e+04,1.264747e+05,1774.944053,7.063678e+04,6.336398e+04,6.958744e+03,314.058343,2016.147929
33,PhoenixTucson,1.224438,5.788264e+05,3.415021e+05,1.158520e+05,6359.112189,1.151131e+05,6.589535e+04,4.875947e+04,458.308817,2016.147929
34,Pittsburgh,1.364320,5.564008e+04,1.175277e+04,2.160202e+04,849.011272,2.143628e+04,1.600053e+04,5.265377e+03,170.369882,2016.147929
35,Plains,1.436509,9.206761e+05,4.245898e+05,2.583886e+05,7380.101923,2.303172e+05,2.034338e+05,2.359066e+04,3292.713876,2016.147929
36,Portland,1.317722,3.270775e+05,6.866250e+04,1.035079e+05,8444.570473,1.464626e+05,1.228066e+05,2.342522e+04,230.805000,2016.147929
37,RaleighGreensboro,1.555118,1.426116e+05,3.497282e+04,4.934356e+04,11914.537219,4.638070e+04,4.449847e+04,1.601024e+03,281.207396,2016.147929
38,RichmondNorfolk,1.291331,1.249433e+05,3.691376e+04,4.756319e+04,3459.803284,3.700659e+04,3.448670e+04,2.153671e+03,366.224408,2016.147929
39,Roanoke,1.247929,7.408879e+04,2.205014e+04,2.358443e+04,78.497574,2.837570e+04,2.501876e+04,3.121787e+03,235.157840,2016.147929
40,Sacramento,1.621568,2.223779e+05,6.938285e+04,1.218252e+05,4595.151893,2.657476e+04,2.573030e+04,2.269676e+02,617.488491,2016.147929
41,SanDiego,1.398166,2.656566e+05,1.008363e+05,8.656350e+04,9195.626834,6.906115e+04,5.998754e+04,8.644449e+03,429.156716,2016.147929
42,SanFrancisco,1.804201,4.018645e+05,1.009967e+05,2.460150e+05,10796.791361,4.405599e+04,4.290636e+04,5.234889e+02,626.137840,2016.147929
43,Seattle,1.442574,3.231189e+05,6.351081e+04,1.066295e+05,3003.980030,1.499746e+05,1.255833e+05,2.418919e+04,202.101893,2016.147929
44,SouthCarolina,1.403284,1.797449e+05,8.405432e+04,3.737238e+04,4610.574793,5.370761e+04,3.968446e+04,1.335283e+04,670.327308,2016.147929
45,SouthCentral,1.101243,2.991952e+06,1.582963e+06,6.522190e+05,66259.744793,6.905102e+05,5.467914e+05,1.359078e+05,7810.979704,2016.147929
46,Southeast,1.398018,1.820232e+06,1.004991e+06,2.688179e+05,9358.670533,5.370640e+05,3.162819e+05,2.133361e+05,7446.044172,2016.147929
47,Spokane,1.445592,4.605111e+04,1.214222e+04,1.457577e+04,829.050562,1.850407e+04,1.588258e+04,2.600242e+03,21.250651,2016.147929
48,StLouis,1.430621,9.489004e+04,3.997294e+04,1.124101e+04,78.368846,4.359772e+04,3.530135e+04,7.631293e+03,665.082515,2016.147929
49,Syracuse,1.520325,3.237476e+04,9.816233e+02,1.890633e+04,83.167396,1.240363e+04,1.078595e+04,1.494128e+03,123.556036,2016.147929
50,Tampa,1.408846,1.952797e+05,1.057626e+05,3.171925e+04,115.353580,5.768252e+04,3.138484e+04,2.560189e+04,695.795059,2016.147929
51,TotalUS,1.319024,1.735130e+07,6.079693e+06,5.961573e+06,462056.754822,4.847931e+06,3.679175e+06,1.105279e+06,63477.013432,2016.147929
52,West,1.272219,3.215323e+06,1.179262e+06,8.898193e+05,60225.061746,1.086017e+06,6.589032e+05,4.246500e+05,2463.416124,2016.147929
53,WestTexNewMexico,1.261701,4.314085e+05,2.509773e+05,6.620437e+04,8864.102030,1.053627e+05,5.949778e+04,4.492910e+04,935.853881,2016.146269

In [31]:
print(df.Date.min())
print(df.Date.max())

2015-01-04
2018-03-25